<div class="grid grid-cols-3 gap-4">
  <app-product title="Producto 1" [price]="120" img="https://picsum.photos/640/640?rs=1" (addToCart)="formChild($event)"/>
  <app-product title="Producto 2" [price]="500" img="https://picsum.photos/640/640?rs=2" (addToCart)="formChild($event)"/>
  <app-product title="Producto 3" [price]="250" img="https://picsum.photos/640/640?rs=3" (addToCart)="formChild($event)"/>
  <app-product title="Producto 4" [price]="300" img="https://picsum.photos/640/640?rs=4" (addToCart)="formChild($event)"/>
  <app-product title="Producto 5" [price]="456" img="https://picsum.photos/640/640?rs=5" (addToCart)="formChild($event)"/>
  <app-product title="Producto 6" [price]="900" img="https://picsum.photos/640/640?rs=6" (addToCart)="formChild($event)"/>
</div>
